* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --Pink: hsl(322, 100%, 66%);
    --VeryPaleCyan: hsl(193, 100%, 96%);
    --VeryDarkCyan: hsl(192, 100%, 9%);
    --GrayishBlue: hsl(208, 11%, 55%);
}
body {
    line-height: 1.5;
    font-size: 1.125rem;
}
h1,h2,h3 {
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
}
h1,h2,h3, header p, .header-button-right {
    color: var(--VeryDarkCyan);
}
main p {
    color: var(--GrayishBlue);
}
p, nav li {
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: var(--VeryPaleCyan);
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-top-30 {
    margin-top: 30px;
}
.margin-left-100 {
    margin-left: 100px;
}
.margin-right-100 {
    margin-right: 100px;
}
header {
    background-color: var(--VeryPaleCyan);
    background-image: url(./images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
}
.header-container {
    max-width: 1200px;
    margin: auto;
    padding: 30px 0px;
}
.header-nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 150px;
}
.header-button-right button {
    background-color: #ffffff;
    padding: 12px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    width: 200px;
    font-weight: 700;
}
.header-content-flex {
    display: flex;
}
.header-content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1 {
    font-size: 42px;
    width: 500px;
}
.header-para-width {
    width: 490px;
}
.common-action {
    padding: 15px;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    color: var(--VeryPaleCyan);
    background-color: var(--Pink);
    width: 270px;
}
.common-action:hover {
    opacity: 70%;
}
.header-image-right {
    display: flex;
    justify-content: flex-end;
}
.header-image-right img {
    max-width: 95%;
}
.main-container, .footer-container {
    max-width: 1100px;
    margin: auto;
    padding: 100px 0px;
}
.main-content-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card {
    padding: 50px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card-flex {
    display: flex;
    justify-content: space-between;
}
.card-flex-reverse {
    display: flex;
    flex-direction: row-reverse;
}
.card-content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.grow-together, .flowing-convo {
    width: 475px;
}
.your-users {
    width: 460px;
}
.card-image-right {
    display: flex;
    justify-content: flex-end;
}
.card-image-left {
    display: flex;
    justify-content: flex-start;
}
.card-image-right img, .card-image-left img {
    max-width: 70%;
}
.section-container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #ffffff;
    border-radius: 5px;
    max-width: 500px;
    margin: auto;
    padding: 30px 0px;
    position: relative;
    top: 50px;
}
.section-content-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer {
    background-color: var(--VeryDarkCyan);
    font-size: 1rem;
    color: var(--VeryPaleCyan);
}
.footer-content-flex {
    display: flex;
    justify-content: space-between;
}
.icons-flex, .footer-links-middle {
    display: flex;
}
.footer-links-middle a:hover {
    text-decoration: underline;
}
.location, .phone-number, .email-address {
    margin-left: 10px;
}
.location p {
    width: 330px;
}
.social-media-links  {
    display: flex;
}
.social-media-links a {
    width: 30px;
    height: 30px;
    border: 0.5px solid var(--VeryPaleCyan);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}
.social-media-links a:hover {
    color: var(--Pink);
}
.copy-rights-text {
    display: flex;
    justify-content: flex-end;
}


/* Mobile Alignment starts */
@media all and (min-width:320px) and (max-width:480px) {
      header {
          background-image: url(./images/bg-hero-mobile.svg);
          background-repeat: no-repeat;
      } 
      .header-container, .section-container {
        max-width: 90%;
        padding: 30px 0px;
    }  
    .main-container, .footer-container {
        max-width: 90%;
        padding: 50px 0px;
    }
    h1 {
        font-size: 30px;
        width: 330px;
    }
    .header-button-right button, .logo {
        width: 120px;
    }
    .header-content-flex {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .header-content-left {
        align-items: center;
    }
    .header-para-width {
        width: 330px;
    }
    .header-image-right {
        margin-top: 30px;
    }
    .main-content-flex {
        align-items: initial;
    }
    .card {
        padding: 30px;
    }
    .card-flex, .card-flex-reverse {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    h2 {
        font-size: 22px;
    }  
    .card-image-right, .card-image-left {
        justify-content: center;
    }
    main p {
        font-size: 16px;
    }
    .card-content-left {
        margin-top: 30px;
    }
    .grow-together {
        width: 300px;
    }  
    .your-users {
        width: 265px;
    } 
    .flowing-convo {
        width: 280px;
    } 
    h3 {
        font-size: 19px;
    }
    section button {
        width: 200px;
    } 
    .footer-content-flex {
        flex-direction: column;
        margin-top: 30px;
    } 
    .location p {
        width: 280px;
    }  
    .footer-links-middle {
        flex-direction: column;
        margin-top: 30px;
    } 
    .footer-links-middle li, .social-media-links {
        margin-top: 30px;
    } 
    .social-media-links {
        justify-content: center;
    }                             
}